# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# RProject
.Rproj

# exercices outputs
data/pixar_joint.csv

#.qmd files to html
dia_2_1_manejo_de_datos_render_html.qmd
dia_2_1_manejo_de_datos_soluciones_render_html.qmd
dia_2_2_funciones_render_html.qmd

# .jpgfiles
individuos_por_isla.jpg
relacion_masa_pico.jpg
penguins_scatter.jpg

#pdf files
penguins_scatter.pdf